.container {
  width: 50%;
  margin: 0 auto;
}

.form-contact {
  width: 100%;
  font-family: "Arial", Times, serif;
}

.form-contact-input {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
}

.form-contact-textarea {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Arial", Times, serif;
}

.form-contact-button {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  opacity: .8;
  margin-bottom: 20px;
  cursor: pointer;
  background: black;
  display: block;
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transition: 1s;
}

.form-contact-button:hover {
  opacity: 1;
}

.fotohome{
  background-image: url('home.jpg'); 
  height: 260px;
  background-size: cover;
  opacity: 0.9;
  padding-right: 10px;
  margin-right: 5px;
}

.fotoabout{
  background-image: url('about.jpg'); 
  height: 400px;
  background-size: cover;
  opacity: 0.9;
  padding-right: 10px;
  margin-right: 5px;
}
.fotoportfolio{
  background-image: url('portfolio.jpg'); 
  height: 400px;
  background-size: cover;
  opacity: 1;
  padding-right: 10px;
  margin-right: 5px;
}